.note-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    border-radius: 25px;
    height: 100%;
    margin-bottom: 20%;
    position: relative;
  }

  .note-card input {
    margin-right: 15px;
  }

 .note-card button {
    cursor: pointer;
    float: right;
    outline: none;
    border: none;
  }

  .container {
    padding: 15px 16px 15px 15px;
  }

  .note{
    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
    

  }

#orangeBox {
    background: #FF6347;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 35px;
    border-radius: 7px;
}